@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>All the fun games, none of the "hey why you still have my cards against humanity?"</p>
<img src="https://s-media-cache-ak0.pinimg.com/564x/c2/4d/8f/c24d8fe133d9ade14e933efddb6d7db4.jpg" >