@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Game Station</h1>
    <p class="lead">Game station is your way to borrow games with no stress</p>
</div>

<div class="row">
    
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Check it out &raquo;</a></p>
        <img src ="https://i.pinimg.com/564x/95/c8/cd/95c8cdc0c7e32c51a50191575ec14e01.jpg" width="360" height="360"/>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">About&raquo;</a></p>
        <img src="https://i.pinimg.com/564x/b6/a1/ff/b6a1ff2269c60302c8cfac40d4ea5d5a.jpg" width="360" height="360" />
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Contact &raquo;</a></p>
        <img src="https://s-media-cache-ak0.pinimg.com/564x/40/8a/1c/408a1cecda41b2fe165ee35ad989c215.jpg" width="360" height="360"/>
    </div>
</div>